.tracked-item {
    display: flex;
    flex-direction: row;
}

.tracked-item.highlighted {
    background: #2d3143;
}

.tracked-item * {
    flex: 1;
}

.tracked-item *:first-child:before {
    padding-right: 3ex;
    content: " ";
}

.tracked-item.highlighted *:first-child:before {
    padding-left: 0.5ex;
    padding-right: 0.75ex;
    content: "\2B9E";
}

.tracked-item .name {
    flex: 5;
}

.tracked-item .initiative {
    text-align: right;
    margin-right: 4px;
}

.tracked-item button {
    padding: 0;
    margin: 1px 4px 1px 0;
}