.tracked-item {
    display: flex;
    flex-direction: row;
}

.tracked-item.highlighted {
    background: #2d3143;
}

.tracked-item * {
    flex: 1;
}

.tracked-item .name {
    flex: 5;
}

.tracked-item .initiative {
    text-align: right;
    margin-right: 4px;
}

.tracked-item button {
    padding: 0;
    margin: 1px 4px 1px 0;
}